header,section,footer,aside,nav,article,figure,figcaption{
    display: block;
}
body{
    color:#666666;
    background-color: #f9f8f6;
    /* background-image: url("coffee.jpg"); */
    background-position: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.4em;
    margin: 0px
}

.wrapper{
    width: 900px;
    margin: 20px 20px 20px 20px;
    border: 10px solid skyblue;
    border-radius: 10px;
    background-color:#ffffff;

    }

header{
    position:static;
    height: 200px;
    background-image: url("background.jpg");
    opacity: 1;
    margin:10px 10px 10px 10px;
    /* background-color: red ; */
    /* border: 2px solid blue; */
    border-radius: 5px;
    
}

header h1 {
    text-indent: -9999px;
    /* width: 940px; */
    height: 130px;
    margin: 0px 0px 0px 0px;
    font-size: 50px;
    font-weight: bold;
    margin-top: ;

}

nav,footer{
    clear:both;
    color:#ffffff;
    background-color: #aeaca8;    
}
footer{
    font-size: 100%;
    padding: 5px 0px 0px 20px;
    /* margin-bottom: 10px; */
    margin:0px 10px 10px 10px;
    height: 35px;
    border-radius: 5px;
}
nav{
    margin-top:80px;
    border-radius: 5px;
    height: 35px;
}

nav ul{
    margin: 0 px;
    padding: 5px 0px 5px 30px;

}
nav li{
    display: inline;
    margin-right: 30px;

}
nav li a{
    color: #ffffff;

}
nav li a:hover, nav li a.current {
    color:#000000;
}
section.popular{
    margin-top:30px;    
}

section.courses{
    margin-top:35px;
    float:left;
    width:659px;
    border-right: 1px solid #eeeeee;
    
}
article{
    clear:both;
    overflow: auto;
    width:100%;
}
hgroup{
    margin-top:25px;
    margin-right: 20px;
}
figure{
    float:left;
    width: 250px;
    height: 250px;
    padding: 10px;
    margin: 20px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
}
figcaption{
    font-size: 90%;
    text-align: left;
}
figure img{
    width: 250px;
    height: 250px;
    border-radius: 5px;
}
aside{
    width:max;
    float:left;
    padding: 0px 0px 0px 20px;
}

aside section a{
    display:block;
    padding: 10px;
    border-bottom: 1px solid #eeeeee;
}
aside section a:hover{
    color:#985d6a;
    background-color: #efefef;
}
a{
    color:#de6581;
    text-decoration: none;
}
h1,h2,h3{
    font-weight: normal;  
}

h2{
    margin: 10px 0px 5px 0px;
    padding: 0px;
}
h3{
    margin: 0px 0px 10px 0px;
    color: #de6581;
}
aside h2{
    padding: 30px 0px 10px 0px;
    color: #de6581;
}
